@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bulky Web</h1>
    <h2>We are yet to see what this will be :)</h2>
    <h3>Stay tuned</h3>
     <h2></h2>
</div>
